<div class="alert alert-info" style="align-content:center">
  <h1>Elements</h1>
</div>
<a class="btn btn-success" [routerLink]='["/add-element"]'>
  Add Elements
</a>
<table class="table" >
  <thead>
    <tr>
      <td>Element Name</td>
      <td>Max number of bonds</td>
      <td>Charge</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of allElements">
      <td>{{element.name}}</td>
      <td>{{element.maxNumberOfBond}}</td>
      <td>{{chargeToString[element.charge]}}</td>
    </tr>
  </tbody>
</table>
